/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');*/

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*@layer base {*/
/*  h1, h2, h3, h4, h5, h6, p {*/
/*    @apply font-heading;*/
/*  }*/
/*}*/

/*@layer components {*/

/*    body {*/

/*        min-height: 100vh;*/
/*        @apply font-sans;*/
/*    }*/

/*    .meditation-header {*/
/*        @apply relative max-w-5xl mx-auto mt-8 rounded-lg overflow-hidden;*/
/*    }*/

/*    .meditation-image {*/
/*    @apply w-full object-cover;*/
/*    !* You can adjust the height as needed *!*/
/*    height: auto;*/
/*  }*/

/*    .meditation-content {*/
/*          @apply absolute inset-0 flex flex-col justify-center items-center p-6 text-center;*/
/*    }*/

/*    .meditation-title {*/
/*          @apply text-4xl md:text-5xl font-medium text-teal-800 mb-4;*/
/*          transform: translateY(-300px);*/
/*          padding-right: 5.0%;*/
/*    }*/


/*    .meditation-subtitle-container {*/
/*        @apply text-xl text-teal-800 text-center;*/
/*        position: absolute;*/
/*        top: 66%; !* Adjust as needed *!*/
/*        left: 0;*/
/*        right: 0;*/
/*    }*/

/*    .meditation-button {*/
/*      @apply bg-[#1DB0CD] hover:bg-[#19a0bb] text-white font-medium py-3 px-6 rounded-md transition duration-300 h-12 flex items-center justify-center;*/
/*    }*/

/*    .meditation-image-container {*/
/*        @apply flex justify-center mt-32 mb-6;*/
/*    }*/

/*    .meditation-two-container {*/
/*        @apply flex flex-col justify-center items-center h-full;*/

/*    }*/

/*    .meditation-two-heading {*/
/*        @apply text-4xl md:text-3xl font-medium text-teal-800 font-heading;*/
/*    }*/

/*    .meditation-two-subtitle-container {*/
/*        @apply m-10 flex flex-col justify-center items-center text-center w-full;*/
/*        position: relative;*/

/*    }*/

/*    .meditation-two-subtitle-container-paragraph {*/
/*        @apply m-6 text-xl text-teal-800 text-center font-sans max-w-prose leading-loose block;*/
/*    }*/

/*    .reason {*/
/*        @apply flex justify-center items-center mt-40;*/
/*    }*/

/*}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1, h2, h3, h4, h5, h6, p {
        @apply font-heading;
    }
}

@layer components {
    body{
        min-height: 100vh;
        @apply font-sans;
    }

    .meditation-header {
        position: absolute;
        top: 240px; /* Fixed pixel value instead of top-60 */
        margin-top: 64px; /* Fixed pixel value instead of mt-16 */
    }
}